/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('/background.gif') center/cover no-repeat fixed;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  text-align: center;
}